aiohttp==3.7.4
appdirs==1.4.3
appnope==0.1.0
async-timeout==1.2.0
certifi==2017.1.23
chardet==2.3.0
decorator==4.0.11
future==0.16.0
google-auth==0.8.0
ipython==5.3.0
ipython-genutils==0.2.0
multidict==2.1.4
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
ptyprocess==0.5.1
pyasn1==0.2.3
pyasn1-modules==0.0.8
Pygments==2.2.0
pyparsing==2.2.0
python-telegram-bot==5.3.0
requests==2.13.0
requests-oauth2==0.2.0
rsa==3.4.2
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.6
traitlets==4.3.2
urllib3==1.20
wcwidth==0.1.7
yarl==0.10.0
